.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #edeff3;

  .page-container {
    flex: 1 1 auto;
    border-radius: .5rem;
    background-color: #FFF;
    margin: 1.25rem;
    padding: 1rem 1.5rem;
    box-shadow: 0 .25rem .5rem #ddd;
  }
}
