<div id="page">
  <h2>Subgrupo Patrimonial</h2>
  <div id="page-container">
    <!-- List page header -->
    <div id="list-header">
      <div id="search">
        <input type="text" pInputText [(ngModel)]="searchInput" />
        <button class="p-button-outlined p-button-secondary ml-2" pButton
        icon="ph ph-magnifying-glass"
        ></button>
      </div>
      <button pButton class="p-button-secondary" icon="ph ph-plus"
        (click)="setFormVisible(true)">
      </button>
    </div>
    <!-- Table -->
    <p-table [value]="dataList" styleClass="p-datatable-sm mt-3">
      <ng-template pTemplate="header">
          <tr>
              <th>Descrição</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
          <tr>
              <td>{{ data.Descricao }}</td>
              <td style="text-align: right">
                <i class="ph ph-info cursor-pointer"
                  title="Consulta status do processamento">
                </i>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr *ngIf="!dataList.length">
          <td colspan="4" class="text-center font-normal">
            Não há subgrupos a serem exibidos.
          </td>
        </tr>
    </ng-template>
    </p-table>
  </div>
</div>
<!-- Form -->
<app-equity-subgroup-form [formVisible]="formVisible"
(setFormVisible)="setFormVisible($event)">
</app-equity-subgroup-form>
<app-equity-subgroup-status [modalVisible]="modalStatusVisible"></app-equity-subgroup-status>
