<p-dialog [header]="(data ? 'Alteração de ' : 'Cadastro de ') + 'Subgrupo Patrimonial'"
  [(visible)]="formVisible" [modal]="true" [draggable]="true" (onHide)="close()"
  [style]="{ left: '7.5rem', maxWidth: '450px' }" [focusOnShow]="true"
>
  <ng-template pTemplate="body">
    <form [formGroup]="form" ngSubmit="">
      <div class="grid p-fluid formgrid">
        <!-- Descrição Control -->
        <div class="field col-12 md:col-12">
          <label>Descrição</label>
          <input type="text" autofocus formControlName="Descricao"
            placeholder="Descrição" pInputText required
            [ngClass]="applyControlInvalid('Descricao')" >
          <small class="invalid-text">
              <span *ngIf="verifyValidTouched('Descricao')">
                Descrição deve ser informada
              </span>
          </small>
        </div>
        <!-- Código do Grupo Patrimonial Control -->
        <div class="field col-12 md:col-12">
          <label>Código do Grupo Patrimonial</label>
          <input type="text" autofocus formControlName="CodigoGrupoPatrimonial"
            placeholder="Código do Grupo Patrimonial" pInputText required
            [ngClass]="applyControlInvalid('CodigoGrupoPatrimonial')" >
          <small class="invalid-text">
            <span *ngIf="verifyValidTouched('CodigoGrupoPatrimonial')">
              Código do Grupo Patrimonial deve ser informado
            </span>
          </small>
        </div>
      </div>
  </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <!-- Cancel Button -->
    <button pButton (click)="close()" label="Cancelar" tabindex="-1"
      icon="ph-bold ph-x" styleClass="p-button-text"
      class="p-button-outlined">
    </button>
    <!-- Save Button -->
    <button pButton (click)="true" [disabled]="form.invalid"
      label="Salvar" icon="ph-bold ph-check" styleClass="p-button-text"
      class="p-button-outlined">
    </button>
  </ng-template>
</p-dialog>
