<div id="page">
  <h2>Subgrupo Patrimonial</h2>
  <div id="page-container">
    <!-- List page header -->
    <form class="grid p-fluid formgrid" [formGroup]="form">
      <!-- Codigo Control -->
      <div class="field col-12 md:col-2">
        <label>Código</label>
        <input type="text" autofocus formControlName="codigo"
          placeholder="Código" pInputText>
      </div>
      <!-- Descrição Control -->
      <div class="field col-12 md:col-6">
        <label>Descrição</label>
        <input type="text" autofocus formControlName="descricao"
          placeholder="Descrição" pInputText>
      </div>
      <!-- Código Grupo Patrimonial Control -->
      <div class="field col-12 md:col-3">
        <label>Cód. Grupo Patrim.</label>
        <input type="text" autofocus formControlName="codigoGrupoPatrimonial"
          placeholder="Cód. Grupo Patrimonial" pInputText>
      </div>
      <!-- Pesquisar Control -->
      <div class="field col-12 md:col-1">
        <label style="width: 100%; height: 1em;"></label>
        <button class="p-button-secondary p-button-outlined"
          pButton icon="ph ph-magnifying-glass" (click)="get()"
        ></button>
      </div>
    </form>
    <!-- Table -->
    <p-table [value]="dataList" styleClass="p-datatable-sm mt-3">
      <ng-template pTemplate="header">
          <tr>
              <th class="text-center">Código</th>
              <th class="text-center">Descrição</th>
              <th class="text-center">Cód. Grupo Patrimonial</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
          <tr>
              <td class="text-center">{{ data.Codigo }}</td>
              <td>{{ data.Descricao }}</td>
              <td class="text-center">{{ data.CodigoGrupoPatrimonial }}</td>
              <td style="text-align: right">
                <i class="ph ph-info cursor-pointer"
                  title="Consulta status do processamento">
                </i>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr *ngIf="!dataList?.length">
          <td colspan="4" class="text-center font-normal">
            Não há subgrupos a serem exibidos.
          </td>
        </tr>
    </ng-template>
    </p-table>
  </div>
</div>
<!-- Form -->
<app-heritage-subgroup-form [formVisible]="formVisible"
(setFormVisible)="setFormVisible($event)">
</app-heritage-subgroup-form>
<app-heritage-subgroup-status [modalVisible]="modalStatusVisible"></app-heritage-subgroup-status>
