<div id="page">
  <h2>Subgrupo Patrimonial</h2>
  <div id="page-container">
    <!-- List page header -->
    <form class="grid p-fluid formgrid" [formGroup]="filterForm">
      <!-- Codigo Control -->
      <div class="field col-12 md:col-2">
        <label>Código</label>
        <input type="text" autofocus formControlName="codigo"
          placeholder="Código" pInputText>
      </div>
      <!-- Descrição Control -->
      <div class="field col-12 md:col-6">
        <label>Descrição</label>
        <input type="text" autofocus formControlName="descricao"
          placeholder="Descrição" pInputText>
      </div>
      <!-- Código Grupo Patrimonial + Search Control -->
      <div class="field col-12 md:col-4">
        <label>Cód. Grupo Patrim.</label>
        <div class="flex">
          <input type="text" autofocus formControlName="codigoGrupoPatrimonial"
            placeholder="Cód. Grupo Patrimonial"
            pInputText>
          <button class="p-button-secondary p-button-outlined ml-3 col-1"
            pButton icon="ph ph-magnifying-glass"
            (click)="get()"></button>
        </div>
      </div>
    </form>
    <!-- Table -->
    <p-table [value]="paginatedList!" styleClass="p-datatable-sm mt-3">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:16.66%">Código</th>
          <th style="width:51%">Descrição</th>
          <th>Cód. Grupo Patrimonial</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>{{ data.Codigo }}</td>
          <td>{{ data.Descricao }}</td>
          <td>{{ data.CodigoGrupoPatrimonial }}</td>
          <td style="text-align: right">
            <i class="ph-bold ph-info cursor-pointer" title="Ver detalhes"
              (click)="setInfoModalData(data)">
            </i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr *ngIf="!paginatedList?.length">
          <td colspan="4" class="text-center font-normal">
            Não há subgrupos patrimoniais a serem exibidos.
          </td>
        </tr>
      </ng-template>
    </p-table>
    <!-- Paginator -->
    <p-paginator [first]="pagination.first" *ngIf="paginatedList.length"
      [rows]="pagination.rows" [totalRecords]="pagination.totalRecords"
      [rowsPerPageOptions]="pagination.rowsPerPageOptions"
      (onPageChange)="onPageChange($event)">
    </p-paginator>
  </div>
</div>
<!-- Form -->
<app-heritage-subgroup-info [formVisible]="infoModalVisible"
  (setFormVisible)="setInfoModalVisible($event)" [data]="data">
</app-heritage-subgroup-info>
