<p-dialog [(visible)]="id && data" [style]="{ left: '7.5rem', maxWidth: '450px' }"
  (onHide)="close()" [modal]="true"
>
  <ng-template pTemplate="header">
      <span class="text-xl font-bold">Informações de Subgrupo Patrimonial</span>
  </ng-template>
  <ng-template pTemplate="body">
    <div *ngIf="!data">
      <p class="text-center">Carregando...</p>
    </div>
    <div *ngIf="data">
      <div class="my-2">
        <strong>Código: </strong>
        <span>{{ data.id }}</span>
      </div>
      <div class="my-2">
        <strong>Descrição: </strong>
        <span>{{ data.Descricao }}</span>
      </div>
      <div class="my-2">
        <strong>Código - Grupo Patrimonial: </strong>
        <span>{{ data.Descricao }}</span>
      </div>
    </div>
    <div class="my-2" *ngIf="data?.ClassificacoesEspecificas">
      <strong>Classificações Especificas: </strong>
      <span>{{ data?.ClassificacoesEspecificas }}</span>
    </div>
  </ng-template>
</p-dialog>
