@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "/node_modules/primeflex/primeflex.css";


:root {
  --color-mxm-blue: #092947;
  --color-mxm-orange: #fe5536;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family), sans-serif;
  color: var(--color);
}

a {
  color: unset;
  font-family: var(--font-family);

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-mxm-blue);
}

hr {
  border: 0;
  border-top: 1px solid #DDD;
}

#page {
  display: flex;
  flex-direction: column;
  height: 100%;

  #page-container {
    flex: 1 1 auto;
    border-radius: .5rem;
    background-color: #FFF;
    margin: 1.25rem 0;
    padding: 1rem;
    box-shadow: 0 .25rem .5rem #ecedef;
  }
}

.invalid-text {
  display: block;
  margin-left: 0.25rem;
  color: #d9362b;
  height: 14px;
  font-size: 0.75rem;
}
