nav {
  width: 15rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #263238;
  color: #FFF;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
  position: fixed;
  top: 0;
  bottom: 0;
}

#logo-container {
  width: 100%;
  text-align: center;
}

#logo {
  width: 10rem;
  height: auto;
}

#links {
  margin-top: 3rem;
  list-style-type: none;
  font-weight: 400;
  font-size: 1.125rem;
  color: #FFF;
  height: 100%;

  li {
    transition: all 0.3s linear;
    padding-bottom: 2rem;
  }
}

#footer {
  font-size: 0.8em;
  font-weight: 300;
}
